html {
  scroll-behavior: smooth;
}

h1 {
  font-family: sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
}

h2 {
  font-family: sans-serif;
  font-size: 30px;
  margin-bottom: 10px;
}

h3 {
  font-family: sans-serif;
  font-size: 25px;
}

p {
  font-family: sans-serif;
  font-size: 15px;
}

dl,
dt,
dd {
  font-family: sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
}

label {
  font-family: sans-serif;
  font-size: 15px;
}

a {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 10px;
}

li {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  top: 0;
  align-items: baseline;
  padding: 10px;
  background-color: #ffffff;
}

nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
/******** product ****/

select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid var(--input-border-color);
  border-radius: 10px;
  color: var(--input-color);
  height: 2.5rem;
  background-color: var(--input-background-color);
  background-image: var(--select-background-image);
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: center right 0.5rem;
}

.purchaseBox {
  background: #a4a5ae;
  color: var(--background-color);
  padding: 1rem;
  border-radius: 2%;
}

/********** category ********/
@media (min-width: 800px) {
  .categorylist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }
}

@media (max-width: 800px) {
  .categorylist {
    display: grid;
    grid-template-columns: repeat(1, 6fr);
    gap: 1em;
  }
}

.categorylist a {
  text-decoration: none;
  border-radius: 5px;
  background-color: #a4a5ae;
  padding: 20px;
  color: #484c70;
}

/******** product list ********/

.productlist article > * {
  margin: 0;
  font-size: 0.9rem;
}

.productlist article h3 {
  font-size: 1rem;
  flex-grow: 3;
}
.breadcrumbs {
  display: flex;
  font-size: 0.8rem;
  list-style-type: none;
}

.breadcrumbs li::after {
  content: " > ";
  font-size: 0.6rem;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  transition: all 0.3s;
}

.subtle {
  color: #d8d8d8cc;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.productlist article.soldOut::before {
  content: "Sold Out";
  position: absolute;
  background: grey;
  color: var(--background-color);
  padding: 1rem;
}

.productlist article.soldOut img {
  opacity: 0.5;
}

.discounted p:last-child {
  background: var(--off-color);
  padding: 0.2rem;
}

.productlist article .price span {
  display: none;
}
:root {
  --off-color: rgb(239, 235, 32);
}

@media (min-width: 900px) {
  .purchaseBox {
    order: 2;
    transform: translate(-50px, -100px);
  }
}

.productlist img {
  margin-bottom: 15px;
}
